#valley {
  background-image: url(../images/valley.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;

  .container {
    position: relative;
  }
a{
    position: absolute;
    background-color: #8724CD;
    color: #FFF;
    border-radius: 25px;
    font-weight: bold;
    width:15em;
    font-size: larger;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    left:435px;
    top: 290px;

  }

  h2{
    position: absolute;
    color: #FFF;
    text-align: center;
    bottom: -220px;
    left: 390px;

  }

  p{
    position: relative;
    color: #FFF;
    text-align: center;
    top:260px;
    margin-left: 15em;
    font-weight:bold;
    right: 170px;





  }
  .small{
    position: absolute;
    font-size: smaller;
    text-align: center;
    margin-top:9em;
    font-weight:600;
    margin-left: 38.4em;
    left:-320px;
    top:240px;

  }
}
